{
  "openvpn_server_address": "123.123.123.123",
  "ca_server_address": "123.123.123.123",
  "remote_user": "ubuntu",
  "ca_country": "IR",
  "ca_province": "TH",
  "ca_city_name": "Tehran",
  "ca_company_name": "companyName",
  "ca_company_department": "IT",
  "ca_email": "kasir.barati@gmial.com"
}
